
<div class="row ms-2">

    <div class="row border shadow">
        <div class="col-12 col-md-12 col-lg-4">
            <p class="fs-2 text-primary text-center">About us</p>
            <p class="fs-6 text-primary">We design investment products with risk mitigation and return maximization in
                mind.
                You just invest and earn we have you covered.
            </p>
        </div>
    </div>

    <div class="row border shadow justify-content-center">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="bg-primary rounded p-5">video</div>
        </div>
        <div class="col-12 col-md-6">
            <button class="btn btn-danger mt-4" type="button">Button</button>
            <button class="btn btn-success ms-2 mt-4" type="button">Button</button>
        </div>
    </div>

    <div class="row border shadow bg-secondary">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="text-warning">Investment</div>
            <p class="fs-6 text-warning"><br>We design investment products with risk mitigation and return maximization
                in
                mind.
                You just invest and earn we have you covered.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
            <div class="bg-primary rounded p-5">image 2</div>
        </div>
    </div>
    <div class="row border shadow">
        <div class="col-12 col-md-6 col-lg-4 order-2 order-lg-1">
            <div class="bg-primary rounded p-5">image 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 order-1 order-lg-2 order-md-2">
            <div class="text-warning">Investment</div>

        </div>
    </div>
    <div class="row border shadow bg-secondary">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="text-warning">Investment</div>
            <p class="fs-6 text-warning"><br>We design investment products with risk mitigation and return maximization
                in
                mind.
                You just invest and earn we have you covered.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
            <div class="bg-primary rounded p-5">image 2</div>
        </div>
    </div>
</div>